* {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand';
}
.nav{
    width: 100%;
    height: 100px;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 1;
    background-color: red;
}

.img-gradient{
    width: 100%;
    height: 1300px;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: -2;
    background-color: rgba(16,29,66,0.6);
}
.hero-landing{
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -3;

}

h1 {
    color: white;
    text-transform: lowercase;
    font-size: 3em;
    margin-bottom: 20px;
}

h4 {
    color: white;
}

.site-container {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.start-btn {
    color: white;
    font-family: 'Quicksand';
    font-size: 1.5em;
    padding: 10px 15px;
    background-color: rgba(0,0,0,0);
    border: 2px solid white;
    display: block;
    margin: 20px auto;
}

.map-placeholder {
    position: relative;
    height: 600px;
    width: 100%;
}

.tagline {
    width: 400px;
}

.new-listings {
    background-color: white;
    width: 100%;
}

.listing-flex{
    display: flex;
    flex-wrap: wrap;

}

.listing-item{
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 3px;
    flex: 1 0 0;
    min-width: 250px;
    padding: 15px;
    margin: 15px;

}

#mapBox{
    position: absolute;
    margin: 20px auto;
    width: 100%;
    height: 90%;
    background-color: rgb(40, 37, 35);
}
