<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">

    <!--Leaflet CSS-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin="">
    </script>
    <title>House Details</title>
</head>
<body>
    <div class="img-gradient"></div>
    <img class="hero-landing" src="{% static 'assets/hero-img2.png' %}" alt="">
    <div class="white-box"></div>
    <main class="site-container">
        <h1 class="title">Real Estate Detail</h1>
        <div>
            <h1>House Details</h1>
            <h3>Address: {{ house.Address }}</h3>
            <h3>City: {{ house.City }}</h3>
            <h3>Postal Code: {{ house.Postal }}</h3>
            <h3>Bedrooms: {{ house.Bedrooms }} </h3>
            <h3>Price: ${{ house.Price }}</h3>
            <h4>Go Back to the listing page <a href="index.html">List of Houses</a></h4>
        </div>
    </main>

    <footer>
        <!--Social Media Buttons-->
        <a href="/admin">Admin Login</a>
    </footer>

        
</script>
</body>
</html>