<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">

    <!--Leaflet CSS-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin="">
        </script>
    <title>Newbourhood</title>
</head>

<body>
    <div class="img-gradient"></div>
    <img class="hero-landing" src="{% static 'assets/hero-img2.png' %}" alt="">
    <div class="white-box"></div>
    <main class="site-container">
        <h1 class="title">Newbourhood</h1>
        <div class="tagline">
            <h4>Find out everything you need to know about the community that brand new real estate listing is in!</h4>
        </div>

        <div>
            <button class="start-btn">Get Started</button>
        </div>
        <div class="map-placeholder">
            <h3>Placeholder for Leaflet.JS</h3>
        </div>
        <!--<div id="mapid"></div>-->

        <script>
            const mymap = L.map('listingMap').setView([51.505, -0.09], 13);

            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiZXdpY2toYW0iLCJhIjoiY2t1cWhiNGtwM2RscDJ1cGhoOTNqODY2bCJ9.o8w41lqnjM9ocTQU3J7dIg').addTo(mymap)
        </script>


        </div>
        <div class="new-listings">
            <h2>New Listings</h2>
            <div class="listing-flex">
                {% for listing in listings|slice:":30" %}
                <div class="listing-item">
                    <p><a href="/detail?{{ listing.id }}">{{listing.Address}}</a></p>
                    <p>${{listing.Price}}</p>
                    <p>Bedrooms:{{listing.Bedrooms}}</p>
                    <p>Date Scraped: {{listing.Date}}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>

    <footer>
        <!--Social Media Buttons-->
        <a href="/admin">Admin Login</a>
    </footer>


    </script>
</body>

</html>