<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script type="module" src="{% static 'map.js' %}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">

    <!--Leaflet-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
     <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
     integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
     crossorigin=""></script>

    <title>Newbourhood</title>
</head>

<body>
    <div class="img-gradient"></div>
    <img class="hero-landing" src="{% static 'assets/hero-img2.png' %}" alt="">
    <div class="white-box"></div>
    <main class="site-container">
        <h1 class="title">Newbourhood</h1>
        <div class="tagline">
            <h4>Find out everything you need to know about the community that brand new real estate listing is in!</h4>
        </div>

        <div>
            <button id="start-btn">About Newbourhood</button>

            <!-- The Modal -->
            <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <p id="modal-txt">Newbourhood is the future of Real Estate Listings. Not only will you get the ability to see all real estate in your city of choice, but you'll have easy access to the neighbourhood data as well. Learn about your new home, and the neighbourhood its in with the seemingly unlimited access to resources now at your fingertips!</p>
            </div>

            </div>
        </div>
        <div class="map-placeholder">
            <div id="mapBox">
            </div>
        </div>

        <script>
            //const data = `{{response|safe}}`;
            //console.log(data);
        </script>

        </div>
        <div class="predict">
            <button href="/Predict">Predcit House Prize</button>
        </div>
        <div class="new-listings">
            <h2>New Listings</h2>
            <div class="listing-flex">
                {% for listing in listings|slice:":30" %}
                <div class="listing-item">
                    <p><a href="/detail/{{ listing.id }}">{{listing.Address}}</a></p>
                    <p>${{listing.Price}}</p>
                    <p>Bedrooms:{{listing.Bedrooms}}</p>
                    <p>Date Scraped: {{listing.Date}}</p>

                </div>
                {% endfor %}
            </div>
        </div>
    </main>

    <footer>
        <!--Social Media Buttons-->
        <a href="/admin">Admin Login</a>
    </footer>

<script src="../static/modal.js"></script>
    </script>
</body>

</html>
